ARBITRUM_RPC_URL=
ARBISCAN_API_KEY=
DEPLOYER_PRIVATE_KEY=
PLATFORM_TREASURY=
QUOTE_SIGNER=
USDC_ADDRESS=
USDT_ADDRESS=
DAI_ADDRESS=
USDC_USD_FEED=
USDT_USD_FEED=
DAI_USD_FEED=
MAX_ORACLE_AGE=86400
SPLIT_A_PLATFORM_BPS=1500
SPLIT_B_PLATFORM_BPS=3000
SPLIT_C_PLATFORM_BPS=0
SPLIT_D_PLATFORM_BPS=0
SPLIT_E_PLATFORM_BPS=0
SPLIT_F_PLATFORM_BPS=0
SPLIT_G_PLATFORM_BPS=0
SPLIT_H_PLATFORM_BPS=0
